{
  "socket_path": "/userdata/rv1106-smart-camera/run/camera-daemon.sock",
  "log_path": "/userdata/rv1106-smart-camera/logs/events.jsonl",
  "sensor_subdev": "/dev/v4l-subdev2",
  "sender_path": "/userdata/rv1106-smart-camera/bin/media-sender",
  "bridge_path": "/userdata/rv1106-smart-camera/bin/rtsp-preview-bridge",
  "npu_path": "/userdata/npu_detect/npu_detect",
  "iq_dir": "/oem/usr/share/iqfiles",
  "isp_control_socket": "/tmp/rv1106_isp_control.sock",
  "rkipc_path": "/oem/usr/bin/rkipc",
  "rkipc_socket": "/var/tmp/rkipc",
  "rtsp_url": "rtsp://127.0.0.1/live/0",
  "start_pipeline": true,
  "start_npu": true,
  "auto_ae": true
}
